@charset "utf-8";

// 进度条颜色
#nprogress .bar {
  background: $base-color-default !important;
}

// 优化element aside 动画
.horizontal-collapse-transition {
  transition: 0s width ease-in-out, 0s padding-left ease-in-out, 0s padding-right ease-in-out;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  @include scrollBar;
}

body {
  position: relative;
  width: 100%;
  height: 100vh;
  padding: 0;
  margin: 0;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial,
    "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol",
    "Noto Color Emoji";
  font-variant-numeric: tabular-nums;
  #app {
    @include relative;
  }
}

a {
  color: #57a3f3;
  text-decoration: none;
  cursor: pointer;
  background: 0 0;
  outline: 0;
  -webkit-transition: color 0.2s ease;
  transition: color 0.2s ease;
}
a:hover {
  color: #57a3f3;
}
a:active {
  color: #2b85e4;
}
a:active,
a:hover {
  color: #57a3f3;
  text-decoration: none;
  outline: 0;
}
a[disabled] {
  pointer-events: none;
  cursor: not-allowed;
}
